<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.freeme.server.telecom.settings.FreemeBlockedNumbersActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:label="@string/blocked_numbers"
            android:process=":ui"
            android:theme="@style/Theme.Telecom.BlockedNumbers">
            <intent-filter>
                <action android:name="android.telecom.action.MANAGE_BLOCKED_NUMBERS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
